@font-face {
    font-family: 'ShareTechMono-Regular';
    src: url('../Fonts/ShareTechMono-Regular.ttf') format('truetype');
}

.none {
    display: none;
}

html, body {
    width: 100%;
    height: 100%;
}

#loading {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: 'ShareTechMono-Regular';
    color: #000;
    z-index: 9999;
}

    #loading .loading-body {
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
    }

        #loading .loading-body div {
            margin:5% 0;
        }

        #loading .loading-body span {
            opacity: 0;
            font-size: 20px;
            color: #133569;
        }

        #loading .loading-body img {
            display: block;
            margin: auto;
        }

            #loading .loading-body span.l1 {
                animation: l1;
                animation-duration: 2.5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }

            #loading .loading-body span.l2 {
                animation: l2;
                animation-duration: 2.5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }

            #loading .loading-body span.l3 {
                animation: l3;
                animation-duration: 2.5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }

            #loading .loading-body span.l4 {
                animation: l4;
                animation-duration: 2.5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }

            #loading .loading-body span.l5 {
                animation: l5;
                animation-duration: 2.5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }

            #loading .loading-body span.l6 {
                animation: l6;
                animation-duration: 2.5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }

            #loading .loading-body span.l7 {
                animation: l7;
                animation-duration: 2.5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }

            #loading .loading-body span.l8 {
                animation: l8;
                animation-duration: 2.5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }

            #loading .loading-body span.l9 {
                animation: l9;
                animation-duration: 2.5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }

            #loading .loading-body span.l10 {
                animation: l10;
                animation-duration: 2.5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }

            #loading .loading-body span.l11 {
                animation: l11;
                animation-duration: 2.5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }

            #loading .loading-body span.l12 {
                animation: l12;
                animation-duration: 2.5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }

            #loading .loading-body span.l13 {
                animation: l13;
                animation-duration: 2.5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }

@keyframes l1 {
    0% {
        opacity: 0;
    }

    6% {
        opacity: 0.25;
    }

    12% {
        opacity: .5;
    }

    18% {
        opacity: .75;
    }

    24% {
        opacity: 1;
    }
}

@keyframes l2 {
    0% {
        opacity: 0;
    }

    12% {
        opacity: .25;
    }

    18% {
        opacity: .5;
    }

    24% {
        opacity: .75;
    }

    30% {
        opacity: 1;
    }
}

@keyframes l3 {
    0% {
        opacity: 0;
    }

    18% {
        opacity: .25;
    }

    24% {
        opacity: .5;
    }

    30% {
        opacity: .75;
    }

    36% {
        opacity: 1;
    }
}

@keyframes l4 {
    0% {
        opacity: 0;
    }

    24% {
        opacity: .25;
    }

    30% {
        opacity: .5;
    }

    36% {
        opacity: .75;
    }

    42% {
        opacity: 1;
    }
}

@keyframes l5 {
    0% {
        opacity: 0;
    }

    24% {
        opacity: 0;
    }

    30% {
        opacity: .25;
    }

    36% {
        opacity: .5;
    }

    42% {
        opacity: .75;
    }

    48% {
        opacity: 1;
    }
}

@keyframes l6 {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    36% {
        opacity: .25;
    }

    42% {
        opacity: .5;
    }

    48% {
        opacity: .75;
    }

    54% {
        opacity: 1;
    }
}

@keyframes l7 {
    0% {
        opacity: 0;
    }

    36% {
        opacity: 0;
    }

    42% {
        opacity: .25;
    }

    48% {
        opacity: .5;
    }

    54% {
        opacity: .75;
    }

    60% {
        opacity: 1;
    }
}

@keyframes l8 {
    0% {
        opacity: 0;
    }

    42% {
        opacity: 0;
    }

    48% {
        opacity: .25;
    }

    54% {
        opacity: .5;
    }

    60% {
        opacity: .75;
    }

    66% {
        opacity: 1;
    }
}

@keyframes l9 {
    0% {
        opacity: 0;
    }

    48% {
        opacity: 0;
    }

    54% {
        opacity: .25;
    }

    60% {
        opacity: .5;
    }

    66% {
        opacity: .75;
    }

    72% {
        opacity: 1;
    }
}

@keyframes l10 {
    0% {
        opacity: 0;
    }

    54% {
        opacity: 0;
    }

    60% {
        opacity: .25;
    }

    66% {
        opacity: .5;
    }

    72% {
        opacity: .75;
    }

    78% {
        opacity: 1;
    }
}

@keyframes l11 {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    66% {
        opacity: .25;
    }

    72% {
        opacity: .5;
    }

    78% {
        opacity: .75;
    }

    84% {
        opacity: 1;
    }
}

@keyframes l12 {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    72% {
        opacity: .25;
    }

    78% {
        opacity: .5;
    }

    84% {
        opacity: .75;
    }

    90% {
        opacity: 1;
    }
}

@keyframes l13 {
    0% {
        opacity: 0;
    }

    72% {
        opacity: 0;
    }

    78% {
        opacity: .25;
    }

    84% {
        opacity: .5;
    }

    90% {
        opacity: .75;
    }

    96% {
        opacity: 1;
    }
}
